article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header {
    text-align: center;
}

.card {
    margin: .5em;
    padding: 1em;
    border: 2px solid black;
    flex: 25%;
    display: flex;
    align-items: center;
}

.image {
    margin: 1em;
    max-width: 100%;
}