article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

header {
    text-align: center;
}

.card {
    margin: .5em;
    padding: .5em;
    border: 2px solid black;
    flex: 25%;
    display: flex;
    align-items: center;
    overflow: scroll;
}

img {
    margin: .5em;
    max-width: 50%;
    float: left;
}

@media only screen and (max-width: 600px) {
    article {
        display: block;
    }

    img {
        max-width: 80%;
        float: left;
    }
}